/* HTML, Body */
html, body 
{
    margin: 0;
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'NowRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: x-large;
}

/* Headings */
h1, h2
{
    text-align: center;
    background: #BB57CF;
    background: -webkit-linear-gradient(to top left, #BB57CF 0%, #65CF27 100%);
    background: -moz-linear-gradient(to top left, #BB57CF 0%, #65CF27 100%);
    background: linear-gradient(to top left, #BB57CF 0%, #65CF27 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Full Width Container */
.full-container 
{
    height: 100%;
    position: relative;
}

/* Content Container */
.content-container 
{
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

/* Intro Overlay Text */
.intro-overlay 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 98vh;
}

/* Intro Background */
.intro-background 
{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Social Media Container */
.social-container
{
    position: relative;
    z-index: 2;
    margin: -40px 0;
}

/* Social Media Links */
.social-container a
{

    text-decoration: none;
    color: white;
    margin: 5px;
}

/* About Container */
.about-container
{
    margin: 0 20%;
}

/* Contact Form Container */
.contact-form-container
{
    display: flex;
    margin-bottom: 10%;
}

/* Contact Form */
.contact-form
{
    margin: auto;
    width: 60%
}

/* Media Quires */
@media only screen and (max-width: 1024px) 
{
    .contact-form
    {
        margin: auto;
        width: 100%;
    }

    .contact-container
    {
        margin: 20% 0;
    }
}

@media only screen and (max-width: 1000px) 
{
    .contact-container
    {
        margin: 25vh 0;
    }
}

@media only screen and (max-width: 800px) 
{
    .contact-container
    {
        margin: 50vh 0;
    }
}

@media only screen and (max-width: 600px) 
{
    .contact-container
    {
        margin: 100vh 0;
    }
}

@media only screen and (max-width: 400px) 
{
    .contact-container
    {
        margin: 150vh 0;
    }
}

@media only screen and (max-width: 200px) 
{
    .contact-container
    {
        margin: 250vh 0;
    }
}
