/* HTML, Body */
html, body 
{
    margin: 0;
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'NowRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: x-large;
}

/* Headings */
h1, h2
{
    text-align: center;
    background: #BB57CF;
    background: -webkit-linear-gradient(to top left, #BB57CF 0%, #65CF27 100%);
    background: -moz-linear-gradient(to top left, #BB57CF 0%, #65CF27 100%);
    background: linear-gradient(to top left, #BB57CF 0%, #65CF27 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Section */
.section 
{
    background-color: black;
}

/* Intro Overlay Text */
.intro-overlay 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 98vh;
}

/* Intro Background */
.intro-background 
{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Social Media Container */
.social-container
{
    position: fixed;
    bottom: 0;
}

/* GitHub Stats Container */
.github-container
{
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Social Media Links */
.social-container a
{

    text-decoration: none;
    color: white;
    margin: 5px;
}

/* Center */
.center
{
    margin: 0 20%;
    text-align: center;
}

/* Media Queries */
/* Hide GitHub Stats Container if the screen is too small! */
@media only screen and (max-width: 600px) 
{
    .github-container{
        display: none;
    }
}

/* Remove 20% margin on smaller screens */
@media only screen and (max-width: 600px) 
{
    .center{
        margin: 0 0.1em;
    }
}